# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

massive-octo-wallhack.iml
.idea
.idea/copyright
.idea/dictionaries
.idea/.name
.idea/encodings.xml
.idea/uiDesigner.xml
.idea/compiler.xml
.idea/workspace.xml
.idea/modules.xml
.idea/scopes
.idea/misc.xml
.idea/vcs.xml
tape-processor/tape-processor.iml